.sudoku-container {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(235, 235, 235);
  padding:20px;
  border-radius:30px;
  /* width:900px; */
}

.sudoku-board {
  width:648px;
  /* height:648px; */
  margin:0px 30px 0px 0px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius:20px;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
}

.sudoku-element{
  position: relative;
  width:60px;
  height:60px;
  margin:6px;
  border-radius: 7px;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  /* padding:4px; */
  overflow: hidden;
  transition:.5s ease-in-out;

}

/* individual option */
.sudoku-option{
  position: relative;
  width:17px;
  height: 17px;
  margin:1.5px;
  border-radius: 5px;
  opacity:1;
  transition:.5s ease-in-out;
}


.sudoku-visualizer-board{
  border:1px solid red;
  width:648px;
  /* height:638px; */
  position: absolute;
  padding:10px;
}





.sudoku-options{
  background:#eee;
  padding:5px;
}

.sudoku-button{
  padding:20px;
  border:none;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin:10px;
  text-align: center;
  cursor: pointer;
}
.shuffle-board h1{
  font-size:40px;
  font-weight:bold;
  background: linear-gradient(to bottom right, rgb(188, 25, 238), rgb(7, 123, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color:rgb(77, 77, 77);
}
.solve-board h1{
  font-size:40px;
  font-weight:bold;
  background: linear-gradient(to bottom right, rgb(238, 25, 25), rgb(255, 238, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color:rgb(77, 77, 77);
}
.solve-step h1{
  font-size:40px;
  font-weight:bold;
  background: linear-gradient(to bottom right, rgb(41, 6, 97), rgb(255, 7, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color:rgb(77, 77, 77);
}