.sudoku-container {
  width:100%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  /* border:1px solid yellowgreen; */
}

.sudoku-board {
  width:648px;
  height:648px;
  /* border:1px solid rgb(0, 255, 136); */
  margin:50px 30px 50px 100px;
  position: relative;
  background-color: 2px solid rgb(245, 245, 247);
}
