.main-page {
  position: absolute;
  width: calc(100vw - 40px);
  height: calc(100vh - 300px);
  padding: 150px 20px;
  background-color: rgb(20, 22, 26); 
  display: flex;
}

.side-bar{
  /* border:1px solid red; */
  position: relative;
  width:200px;
  height:400px;
  background-color: rgb(37, 40, 41);
  padding:10px;
  border-radius: 22px;
  border-top-left-radius: 0px;
}
.side-bar-heading{
  background-color: rgb(37, 40, 41);
  color:#fff;
  font-size:17px;
  font-weight:100;
  padding:4px 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  top:-22px;
  left:0;
}

.side-bar-option{
  width:100%;
  height:80px;
  margin:3px 0 25px 0;
  position:relative;
  border-radius: 15px;
  justify-content: center;
  
}
.side-bar-option:hover{
  box-shadow: 2px 2px 5px rgb(79, 81, 82);
}
  .side-bar-option h1{
    position: relative;
    top:25px;
    color:#fff;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-weight: 100;
  }

.action-window {
  position: relative;
  float: right;
  top:-100px;
  /* border:1px solid red; */
  width:1300px;
  height:800px;
  margin-left: 50px;
}